<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
</head>
<body>
<div class="todo-list">
    <p v-if="!items.length">No items</p>
    <ul v-if="items.length">
        <li v-for="item in items">{{ item.title }} - <a href="#" v-on:click="removeItem(item)">Remove</a></li>
    </ul>
    <input type="text" v-model="item">
    <input type="submit" value="AddTodo" v-on:click="addItem">
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script>
    new Vue({
        el: '.todo-list',
        data: {
            item: '',
            items: []
        },
        methods: {
            addItem: function(){
                var item ={
                    id: Date.now(),
                    title: this.item,
                    temporary: true
                };
                this.items.push(item);

                $.ajax({
                    url: 'todo.php',
                    type: 'post',
                    cache: false,
                    data: {
                        title: this.item
                    }
                });

                this.item = '';
            },
            removeItem: function(item){
                var newItems = this.items.filter(function(i){
                    return item.id !== i.id;
                });
                this.items = newItems;
                if(!item.temporary) {

                    $.ajax({
                        url: 'todo.php',
                        type: 'delete',
                        cache: false,
                        data: {
                            id: item.id
                        }
                    });
                }
            }
        },
        mounted: function(){
            $.ajax({
                url: 'todo.php',
                type: 'get',
                cache: false
            }).success(function(data){
                this.items = data;
            }.bind(this));

        }
    });
</script>
</body>
</html>