<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
</head>
<body>
    <div class="todo-list">
        <p v-if="!items.length">No items</p>
        <ul v-if="items.length">
            <li v-for="item in items">{{ item.name }} - <a href="#" v-on:click="removeItem(item)">Remove</a></li>
        </ul>
        <input type="text" v-model="item">
        <input type="submit" value="AddTodo" v-on:click="addItem">
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '.todo-list',
        data: {
            item: '',
            items: []
        },
        methods: {
            addItem: function(){
                var item ={
                    id: Date.now(),
                    name: this.item
                };
                this.items.push(item);
                localStorage.setItem('items', JSON.stringify(this.items));
                this.item = '';
            },
            removeItem: function(item){
                var newItems = this.items.filter(function(i){
                    return item.id !== i.id;
                });
                this.items = newItems;
                localStorage.setItem('items', JSON.stringify(this.items));
            }
        },
        mounted: function(){
            this.items = JSON.parse(localStorage.getItem('items'));

        }
    });
</script>
</body>
</html>